# Strings

In [12]:
a = "ammar"

In [14]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [15]:
a.capitalize()

'Ammar'

In [20]:
a = "AmMaR KhAtri"

In [21]:
a.casefold()

'ammar khatri'

In [22]:
a

'AmMaR KhAtri'

In [26]:
a.find("AmMar")

-1

In [31]:
a.isdigit()

False

In [33]:
a.islower()

False

In [35]:
a.istitle()

False

# Lists

In [53]:
l1 = ["Ammar", 17, "Sindh Boys Scout", 22.2]
print (l1)

['Ammar', 17, 'Sindh Boys Scout', 22.2]

In [54]:
dir(l1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [59]:
l1.append("k")    #RAN THIS COMMAND 3 TIMES
print(l1)

['Ammar', 17, 'Sindh Boys Scout', 22.2, 'k', 'k', 'k']

In [60]:
l1.count(22.2)

1

In [61]:
l1.copy()

['Ammar', 17, 'Sindh Boys Scout', 22.2, 'k', 'k', 'k']

In [62]:
l2 = ("US", "UK")
l1.extend(l2)

In [63]:
print(l1)

['Ammar', 17, 'Sindh Boys Scout', 22.2, 'k', 'k', 'k', 'US', 'UK']

In [64]:
l1.remove("k")

In [65]:
print(l1) #k was removed once

['Ammar', 17, 'Sindh Boys Scout', 22.2, 'k', 'k', 'US', 'UK']

In [66]:
l1.reverse()

In [67]:
l1

['UK', 'US', 'k', 'k', 22.2, 'Sindh Boys Scout', 17, 'Ammar']

In [68]:
len(l1)

8

In [70]:
l1.__sizeof__()

84

In [73]:
format(l1)

"['UK', 'US', 'k', 'k', 22.2, 'Sindh Boys Scout', 17, 'Ammar']"

# Tuple

In [74]:
t1 = ('Ammar' ,'Drone' , 21, 5.55)
print(t1)

('Ammar', 'Drone', 21, 5.55)

In [75]:
dir(t1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [76]:
t1.count('Ammar')

1

In [77]:
t1.index(21) #21 is placed at 3rd place in the tuple list. Sequencing starts from 0

2

In [79]:
format(t1)

"('Ammar', 'Drone', 21, 5.55)"

In [80]:
hash(t1)

-47039407

In [81]:
len(t1)

4

In [82]:
iter(t1)

In [83]:
str(t1)

"('Ammar', 'Drone', 21, 5.55)"

# Dictionary

In [86]:
d1 = {"Name" : "Muhammad Ammar", "Age" : 17, "Studies": "A-levels", "Roll no" : 11415}

In [87]:
print(d1)

{'Name': 'Muhammad Ammar', 'Age': 17, 'Studies': 'A-levels', 'Roll no': 11415}

In [88]:
dir(d1)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [94]:
d1.get("Name")

'Muhammad Ammar'

In [99]:
d1.clear()

In [100]:
print (d1)

{}

In [104]:
d1 = {"Name" : "Muhammad Ammar", "Age" : 17, "Studies": "A-levels", "Roll no" : 11415}
d1

{'Name': 'Muhammad Ammar', 'Age': 17, 'Studies': 'A-levels', 'Roll no': 11415}

In [110]:
d1.update({"Center" : "Sindh Boys Scout"})

In [111]:
d1

{'Name': 'Muhammad Ammar',
 'Age': 17,
 'Studies': 'A-levels',
 'Roll no': 11415,
 'Center': 'Sindh Boys Scout'}

In [112]:
d1.setdefault('Start')

In [113]:
d1

{'Name': 'Muhammad Ammar',
 'Age': 17,
 'Studies': 'A-levels',
 'Roll no': 11415,
 'Center': 'Sindh Boys Scout',
 'Start': None}

In [114]:
d1.values()

dict_values(['Muhammad Ammar', 17, 'A-levels', 11415, 'Sindh Boys Scout', None])

In [115]:
d1.pop("Center")

'Sindh Boys Scout'

In [116]:
d1.popitem()

('Start', None)

In [117]:
len(d1)

4

In [118]:
iter(d1)

In [121]:
hash(d1) #dictionaries are not hash-able

TypeError: unhashable type: 'dict'

In [122]:
format(d1)

"{'Name': 'Muhammad Ammar', 'Age': 17, 'Studies': 'A-levels', 'Roll no': 11415}"